/*
 * INIT
 * --------------------------------------
 */

    @-ms-viewport {
        width: device-width;
    }

    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        background-color: #fff;
        font: 14px "Open Sans", sans-serif;
        color: #444;
        margin: 0;
        padding: 20px;
    }

    form, img {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }


/*
 * LAYOUT
 * --------------------------------------
 */

    #wrapper {
        position: relative;
        margin: 0 auto;
        padding-top: 30px;
        text-align: center;
    }

    h1 {
        font-size: 28px;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
