.form-item {
    position: relative;
    padding: 0 0 25px 0;
}

.form-description {
    position: relative;
    padding: 0 0 25px 0;
    margin: 0;
}

.form-group {
    position: relative;
    padding: 0;

    .group-title {
        position: relative;
        padding: 0 10px 0 0;
        background-color: #fff;
        border: solid 1px #d8d8d8;
        margin-bottom: 10px;
        width: 100%;
        display: flex;

        .arrow {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-right: solid 1px #d8d8d8;
            background-color: #fff;
            text-decoration: none;
            margin-right: 10px;
            flex: 0 0 auto;

            .icon:before {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 30px;
                color: #aaa;
                font-weight: 400;
                font-family: fontawesome;
                content: '\f105';
                font-size: 14px;
                @include anim(all, 0.15s);
            }
        }

        .label {
            padding-top: 6px;
            font-weight: 700;
            color: #222;
            text-transform: uppercase;
            line-height: 20px;
        }

        .add-field-btn {
            margin-left: auto;
            text-decoration: none;
            line-height: 30px;

            .icon:before {
                display: inline-block;
                font-family: fontawesome;
                content: '\f055';
                margin-right: 5px;
            }
        }

    }

    .group-content {
        position: relative;
        margin: 0 0 10px 0;
        width: 100%;
        @include anim(all, 0.4s);
        display: none;

        &.remove {
            opacity: 0;
        }

        &.new {
            opacity: 0;
            display: none;
        }

        .group-actions {
            position: relative;
            width: 30px;
            flex: 0 0 auto;
            background-color: #fff;
            background-color: #C7D0DF;
            background-color: #42485b;
            border-right: solid 1px #d8d8d8;
            margin-right: 2px;
            /* border: solid 1px #d8d8d8; */
            /*border: solid 1px #333;*/

            .group-item-remove {
                position: absolute;
                top: 10px;
                left: 0;
                right: 0;
                text-align: center;
                color: #fff;
                text-decoration: none;
                line-height: 12px;
                opacity: 0.3;

                .icon:before {
                    display: inline-block;
                    font-family: fontawesome;
                    content: '\f00d';
                }

                &:hover {
                    opacity: 1;
                }
            }

        }

        .group-inner {
            padding: 20px;
            background-color: #fff;
            border: solid 1px #d8d8d8;
            flex-grow: 1;
        }
    }

    .form-item:last-child {
        padding-bottom: 0;
    }

    &.open {
        .group-title .arrow .icon:before {
            transform: rotate(90deg);
            padding-left: 2px;
        }

        .group-content {
            display: flex;
        }
    }
}

input[type='color'], input[type='date'], input[type='datetime-local'],
input[type='email'], input[type='number'], input[type='password'],
input[type='search'], input[type='tel'], input[type='text'], input[type='time'],
input[type='url'], input[type='week'], select, textarea {
    border: solid 1px #ccc;
    background-color: #fff;
    padding: 7px;
    font: 1.1em $font-default;
    color: #555;
    margin: 0;
    width: 100%;

    &.large {
        font-size: 18px;
    }

    &:disabled {
        background-color: transparent;
        border: 0;
        padding: 0;
        color: #777;
        font-style: italic;
    }
}

input[type="checkbox"] {
    margin: 0 7px 0 0;
    vertical-align: -2px;
}

textarea {
    min-height: 300px;

    &.small {
        min-height: 150px;
    }
}

button {
    border: 0;
    background-color: #333;
    padding: 7px 25px;
    text-transform: uppercase;
    font: 1em $font-default;
    color: #fff;
    margin: 0;

    &.confirm {
        background-color: #00B16A;
    }
}

label {
    position: relative;
    display: block;
    padding: 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;

    &.normal {
        display: inline-block;
        text-transform: none;
        margin: 0;
        line-height: 40px;
    }
}


.form-columns {
    position: relative;
    display: flex;
    width: 100%;

    .form-item {
        padding-left: 10px;
        padding-right: 10px;
        flex-grow: 1;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &.col-1-2 {
        .form-item {
            max-width: 50%;
        }
    }
}

#form-actions {
    position: fixed;
    padding: 10px 20px;
    left: $nav-width;
    right: 0;
    bottom: 0;
    background-color: rgba(220, 220, 220, 0.8);
    border-top: solid 1px #d2d2d2;
    display: flex;

    button {
        margin-right: 15px;
        background-image: url(img/loader-confirm.gif);
        background-repeat: no-repeat;
        background-position: -100px -100px;

        &.loading {
            background-position: center center;

            span {
                visibility: hidden;
            }
        }

        &.right {
            margin-left: auto;
        }
    }
}

#form-page-preview {
    display: none;
}

h2.form-heading {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #444;
    margin: 0 0 20px 0;
    padding: 20px 0 5px 0;
    border-bottom: solid 1px #ddd;
    font-weight: 400;
}

