#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 950;
    display: none;
    width: 100%;
    height: 100%;


    &.show {
        display: flex;
    }

    #lightbox-inner {
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: auto;
        text-align: center;
        flex-shrink: 1;
        flex-grow: 0;
        width: 100%;

        #lightbox-content {
            position: relative;
            padding: 20px;
            display: inline-block;
            background-color: #fff;
            color: #444;
            vertical-align: baseline;
            margin: auto;
            flex-shrink: 1;

            #lightbox-close {
                position: absolute;
                top: 0;
                right: 0;
                text-decoration: none;
                color: #000;
                font-size: 14px;
                padding: 5px;
                line-height: 14px;

                .icon {
                    display: inline-block;
                    font-family: fontawesome;

                    &.close:before {
                        content: '\f00d';
                    }
                }
            }

        }
    }
}