.blurbs {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .blurb {
        position: relative;
        min-height: 100px;
        width: 30%;
        min-width: 250px;
        flex: 0 0 auto;
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: 810px) {
            width: 48%;
        }

        @media (max-width: 550px) {
            width: 100%;
            min-width: auto;
        }

        .title {
            font-size: 1.2em;
            font-weight: 700;
            height: 40px;
            line-height: 1.2em;
            margin-bottom: 10px;
        }

        .content {
            background-color: #f3f3f3;
            padding: 10px;
        }
    }
}
