/**
 * FONTS
 * --------------------------------------------------------
 */

$font-default: "Open Sans", serif;
$font-default-size: 14px;
$font-default-color: #888;

/**
 * SIZES
 * --------------------------------------------------------
 */

$top-height: 40px;
$nav-width: 200px;

/**
 * COLORS
 * --------------------------------------------------------
 */

$background-color: #f3f3f3;