/**
 * FONTS
 * --------------------------------------------------------
 */

$font-default: "Open Sans", serif;
$font-default-size: 14px;
$font-default-color: #666;

/**
 * SIZES
 * --------------------------------------------------------
 */

$site-width: 1200px;
