.blurbs {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .blurb {
        position: relative;
        min-height: 100px;
        width: 33.33%;
        flex: 0 0 auto;
        margin-bottom: 20px;
        text-align: center;
        padding: 0 1.5%;

        &:last-child {
            border-right: 0;
        }

        @media (max-width: 810px) {
            width: 50%;
        }

        @media (max-width: 550px) {
            display: block;
            width: 100%;
            margin: 0 auto;
        }

        .title {
            font-size: 1.8em;
            font-weight: 400;
            height: 40px;
            line-height: 1.7em;
            margin-bottom: 10px;
            text-decoration: uppercase;
        }

        .icon {
            margin: 0 0 20px 0;

            span {
                font-size: 40px;
                background-color: #222;
                color: #fff;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                line-height: 90px;
            }
        }

        .content {
            padding: 10px;
            min-height: 123px;
        }
    }
}
